/*
************
Reset
************
*/

:root {
  --bg-topbar: #abd7e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
************
Debug
classi precedute da .debug per la gestione degli spazi
************
*/

.debug header .top-menu > *,
.debug header .jumbotron .content {
  border: 2px dashed black;
}

.debug header .jumbotron .content {
  height: 415px;
}

/*
************
Common
************
*/

.container {
  margin: 0 auto;
}

.container.big {
  max-width: 1250px;
}

.container.medium {
  max-width: 950px;
}

/*
************
Header
************
*/

header {
  border-bottom: 4px solid var(--bg-topbar);
}

/* topbar */

header .topbar {
  background-color: var(--bg-topbar);
  padding: 15px;
}

header .top-menu {
  background-color: #daa520;
  display: flex;
}

header .top-menu > * {
  padding: 10px;
}

header .top-menu .header-logo,
header .top-menu .header-login {
  width: 20%;
}

header .top-menu .header-link {
  width: 60%;
  text-align: center;
}

header .top-menu .header-login {
  text-align: right;
}

/* jumbotron */

header .jumbotron {
  background-color: #00008b;
  padding: 50px;
}

header .jumbotron .content {
  background-color: #ee82ee;
}

/*
************
Main
************
*/

/*
************
Footer
************
*/
