/*
************
Reset
************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
************
Debug
classi precedute da .debug per la gestione degli spazi
************
*/

/*
************
Common
************
*/

/*
************
Header
************
*/

/*
************
Main
************
*/

/*
************
Footer
************
*/
